@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: #0F0300;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1472289065668-ce650ac443d2?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: fit-content;
    width: 30%;
    padding: 2vw 0;
    background-color: white;
    border-radius: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    /* background-color: red; */
    width: 60%;
}

form h2 {
    text-align: center;
    font-size: 1.6vw;
    margin-bottom: 2vw;
    font-weight: 700;
}

form label {
    font-size: 0.85vw;
    font-weight: 500;
    margin-bottom: 10px;
}

form input,
textarea {
    width: 100%;
    font-size: 0.85vw;
    outline: none;
    border: 1px solid #D4A590;
    border-radius: 0.5vw;
    padding: 0.3vw 0.5vw;
}

form textarea {
    height: 15vh;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit {
    background-color: #ffc400;
    border: none;
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: 600;
}

.submit:hover {
    background-color: #F5BD00;
    color: white;
    scale: 1.05;
}